.articleInfo {
  grid-area: 18 / 2 / 20 / 11;
  height: 0vh;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  /*   margin-bottom: 15px; */
  position: relative;
  bottom: 100px;
}
.articleInfo .articleInfoSpan {
  width: auto;
  min-height: 10vh;
  height: auto;
  margin: 0px 40px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
.articleInfoP1 {
  font-size: 27px;
  font-weight: 700;
}
.articleInfoP2 {
  font-size: 15px;
  font-weight: 500;
}
.articleInfoButton {
  margin-left: 10px;
  height: 40px;
  width: 200px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 4px;
}
.articleInfoButton:hover,
.articleInfoButton:focus {
  background-color: white;
  font-weight: 500;
  color: black;
}
/* .hidden {
  display: none;
} */
