.dottedVideoNavBar {
  height: 2%;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  button {
    height: 1.7vh;
    width: 1.7vh;
    margin-right: 1vh;
    border-radius: 50%;
    border: none;
    background-color: #5c5e62;
    &:hover,
    &:focus {
      background-color: white;
    }
  }
  &.white {
    button {
      background-color: #bdc1ca;
      &:hover,
      &:focus {
        background-color: black;
      }
    }
  }
}
