.menuCoverPage {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(4px);
  background-color: #00000046;
  z-index: 3;
}
.displayNone {
  display: none;
}
.blurredPage {
  height: 100vh;
  width: 79vw;
  position: absolute;
  top: 0;
  left: 0;
}
.menuWrapper {
  height: 100vh;
  width: 21vw;
  /* width: 310px; equivalent width */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  background-color: white;
  z-index: 4;
  border-left: 1px solid rgb(204, 204, 204);
  position: absolute;
  top: 0;
  right: 0;
  /* box-shadow: 50px 0px rgb(0, 0, 0); falta esto*/
}
.menuWrapper .returnButton {
  position: relative;
  margin: 30px 0px;
  top: 0px;
  right: -110px;
  min-height: 40px;
  width: 40px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  font-size: 20px;
}
.menuWrapper .menuButton {
  margin: 3px 0px;
  padding-left: 15px;
  min-height: 32px;
  width: 230px;
  border: none;
  border-radius: 5px;
  text-align: left;
  background-color: transparent;
  font-size: 15px;
}
.menuWrapper .returnButton:hover,
.menuWrapper .returnButton:focus,
.menuWrapper .menuButton:hover,
.menuWrapper .menuButton:focus {
  background-color: #f2f2f2;
}
