.singleItem {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(20, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.singleItem .articleTitle {
  font-size: 35px;
  grid-area: 4 / 5 / 5 / 8;
}
.singleItem .h2LowerText {
  grid-area: 5 / 5 / 6 / 8;
}
.singleItem .backgroundImageWrapper {
  height: 100vh;
  width: 100vw;
  grid-area: 1 / 1 / 21 / 12;
}
.backgroundImageWrapper::after {
  box-shadow: inset 0px 0px 79px 99px rgb(0 0 0);
}

.singleItem .articleInfo {
  grid-area: 18 / 2 / 20 / 11;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.singleItem .articleInfo .articleInfoSpan {
  width: auto;
  height: auto;
  margin: 0px 40px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
.articleInfoP1 {
  font-size: 27px;
  font-weight: 700;
}
.articleInfoP2 {
  font-size: 15px;
  font-weight: 500;
}
.articleInfoButton {
  margin-left: 10px;
  height: 40px;
  width: 200px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 4px;
}
.articleInfoButton:hover,
.articleInfoButton:focus {
  background-color: white;
  font-weight: 500;
  color: black;
}
.hidden {
  display: none;
}
