.solarRoof {
  overflow: hidden;
  color: white;
}
.solarRoofHeader {
  height: 0vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 2;
  border-bottom: 0.5px solid rgba(91, 91, 91, 0.07cd);
}
.solarRoofMain {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
