.car-card {
  margin: 10px 0px 0px 0px;
  min-height: 20%;
  min-width: 100%;
  padding: 10px;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  &__quantity-button {
    height: 20px;
    width: 20px;
    margin: 0px 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(236, 236, 236);
    &:hover,
    &:focus {
      cursor: pointer;
      background-color: rgb(161, 161, 161);
    }
  }
}
