.alternateImages {
  min-height: 168vh;
  min-width: 100vw;
  padding-top: 18vh;
  padding-bottom: 10vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__each {
    height: 30%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    .media {
      width: 49%;
      height: 100%;
      img,
      video {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .text {
      width: 51%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      h3,
      p {
        width: 70%;
        color: white;
      }
    }
  }
  &__each:nth-child(even) {
    flex-direction: row-reverse;
    .text {
      align-items: flex-start;
    }
  }
  &__each.inverted:nth-child(odd) {
    flex-direction: row-reverse;
    .text {
      align-items: flex-start;
    }
  }
  &__each.inverted:nth-child(even) {
    flex-direction: row;
    .text {
      align-items: flex-end;
    }
  }
}
