.orderButton {
  height: 5vh;
  width: 13vw;
  background-color: transparent;
  border: 2px solid black;
  color: black;
  border-radius: 3px;
  &.white {
    border: 2px solid white;
    color: white;
    &:hover,
    &:focus {
      cursor: pointer;
      background-color: white;
      color: black;
    }
  }
  &.grey {
    border: none;
    background-color: #4848482e;
    color: #393c41;
    &:hover,
    &:focus {
      cursor: pointer;
      background-color: #4848482e;
      color: #393c41;
    }
  }
  &:hover,
  &:focus {
    cursor: pointer;
    background-color: black;
    color: white;
  }
}
