.image-full-heigth {
  height: 100%;
  width: 73%;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &.half {
    width: 50%;
    img {
      object-fit: contain;
    }
  }
  &.full-width {
    padding: 10px 0px;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }
}
