.videoWrapper {
  min-height: 140vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  .videoContainer {
    margin: 10vh 0px 10vh 0px;
    height: 82vh;
    width: 87vw;
    border: none;
    border-radius: 20px;
    overflow: hidden;

    video {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  .dottedVideoNavBar {
    height: 2%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    button {
      height: 1.7vh;
      width: 1.7vh;
      margin-right: 1vh;
      border-radius: 50%;
      border: none;
      background-color: #5c5e62;
      &:hover,
      &:focus {
        background-color: white;
      }
    }
  }
  .videoInfo {
    height: 10%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    color: white;
  }
}
