.user-info {
  height: 70vh;
  width: 100%;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &__submit-button {
    height: 5vh;
    flex: 1 1 0;
    width: 100%;
    margin: 1vh 0.5vw;
    background-color: transparent;
    border: 2px solid black;
    color: black;
    border-radius: 3px;
    &:hover,
    &:focus {
      cursor: pointer;
      background-color: black;
      color: white;
    }
  }
}
